p {
  margin: 3px;
}
li {
  list-style: none;
}
ul {
  padding: 0;
  margin: 0;
}
.wrapper {
  width: 720px;
  border: 2px solid black;
  border-radius: 8px;
  padding-top: 30px;
}
.userWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}
.img {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #3d3c3c;
}
.userName {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 5px;
}
.userInfo {
  font-size: 36px;
  color: #949494;
}
.socialList {
  display: flex;
}
.socialInfo {
  width: 240px;
  height: 180px;
  box-sizing: border-box;
  background-color: #ececec;
  border: 2px solid #b1aeae;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.socialName {
  font-size: 36px;
}
.socialNumber {
  font-size: 36px;
  font-weight: bold;
}
